.default-background {
    background-image: url("/assets/default-background.avif");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;  
    background-size: cover;
    z-index: -1;   
}


.user-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 100px;
    opacity: 50%;
    margin-left: 91.8vw;
}

.user {
    position: absolute;
    width: 4vw;
    height: 4vh;
    color: white;
    opacity: 50%;
    margin-left: 93vw;
    margin-top: 2vh;
}

.session {
    position: absolute;
    width: 31.5vw;
    height: 5vh;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}

#focus-btn { 
    position: relative;
    color: white;
    width: 7vw;
    height: 5vh;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-size: 0.9em;
    font-family: "Inter";
    padding-left: 4vw;
}

#short-break-btn { 
    position: relative;
    color: white;
    width: 7vw;
    height: 5vh;
    font-size: 0.9em;
    font-family: "Inter";
    padding-left: 1.8vw;
    padding-right: 1vw;
}

#long-break-btn { 
    position: relative;
    color: white;
    width: 8vw;
    height: 5vh;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 0.9em;
    font-family: "Inter";
    padding-left: 1.8vw;
}



.active-phase {
    all: unset;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 700;
}

.inactive-phase {
    all: unset;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);   
}

.timer-box-container {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(5em, 60vw, 65rem);
    height: 70vh; 
}

.timer-box {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 60%;
    height: 55%;    

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.progress-bar {
    position: relative;
    width: 80%;
    height: 1.5%;
    background-color: white;
    border-radius: 100px;
    opacity: 50%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.progress-made {
    position: relative;
    background-color: #ED6AFF;
    width: 10%;
    height: 100%;
    border-radius: 100px;
}


.time-display {
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 9vw, 9em);
    font-family: "Inter";
    top: 7%;
    justify-content: center;
}







/* ---------------------------- TAREAS -----------------------------*/
.task-list {
    position: relative;
    max-height: 23%;
    overflow-y: auto;
    top: 5%;
    max-width: 100%;
}

/* Scrollbar de task list */
.task-list::-webkit-scrollbar {
    margin-right: 1vw;
}

#task-list-ul {
    list-style: none;
    margin-top: 0;
    margin-right: 4vw;
}

#task-list-ul li {
    overflow: visible;
    display: flex;
    align-items: center;
    margin-bottom: 0.2vh;
}

#task-list-ul li:hover:not(.li-new-task) {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

#task-list-ul li:hover .task-options-btn {
    visibility: visible;
}

.li-hover-persistent {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.task-options-btn:hover {
    visibility: visible;
}

.task-text {
    font-family: "Inknut Antiqua";
    font-weight: 200;
    font-size: clamp(0.2em, 0.8vw, 0.8rem);
    line-height: 1em;
}

.task-checkbox {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 1em;
    height: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 4px; 
    margin-right: 1vw;
    margin-left: 1vw;
    cursor: pointer;
}

.task-options-btn {
    all: unset;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0.5vw;
    padding-left: 0.5vw;
    padding-bottom: 0.7vh;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    visibility: hidden;
}

.task-options-menu {
    position: absolute; /* Cambiamos a absolute para posicionarlo respecto al li */
    left: 87%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    z-index: 100;
    width: 6em;
}

.task-delete-option {
    font-family: "Inknut Antiqua";
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    transition: background-color 0.2s ease;
}

.task-delete-option:hover {
    background-color: rgba(255, 255, 255, 0.15);
}


.task-completed-checkbox::after {
    content: "✓"; /* También puedes usar ✓ o cualquier otro símbolo */
    color: white;
    opacity: 60%;
    font-size: 1em;
    display: block;
    text-align: center;
    line-height: 1.2em; /* Igual que el alto del span para centrarlo */
}

.task-completed-text {
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    font-style: italic;
    font-weight: 100;
}
.task-completed-text::after {
    content: "";
    position: absolute;
    top: 50%;  
    left: 0%;
    width: 100%;
    height: 1px;  
    background-color: white; 
    z-index: 1; 
}


#add-task-btn {
    all: unset;
    cursor: pointer;

    width: 10vw;
    height: 4vh;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.15); /*Color del botón*/
    color: rgba(255, 255, 255, 0.6);  /*Color de texto*/
    border-radius: 100px;
    font-size: 0.8em;
    font-family: "Inter";
    text-align: center;
}

#add-task-btn:hover {
    background-color: rgba(255, 255, 255, 0.4); /*Color del botón*/
    font-weight: 600;
    color: white;
}



.task-text-input {
    all: unset;
    font-family: "Inknut Antiqua";
    font-weight: 200;
    font-size: clamp(0.2em, 0.8vw, 0.8rem);
    color: white;
    background: transparent;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    line-height: 1em; /* Haz que coincida con .task-text */
    width: 80%;
    max-width: 80%;
}
.task-text-input:focus {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}



/* TIMER BUTTONS */
.controls { /* Controls container*/
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 25%;
    height: 8.5%;
    border-radius: 100px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 18%;
}

.restart-btn {
    all: unset;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    width: 30px;
    height: 30px;
    padding-top: 1vh;
    margin-left: 2vw;
}

.start-btn {
    all: unset;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    width: 30px;
    height: 30px;
    padding-top: 1vh;
    margin-left: 6.5vw;
}

.pause-btn {
    all: unset;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    width: 30px;
    height: 30px;
    padding-top: 1vh;
    margin-left: 6.5vw;
    visibility: hidden;
}

.config-timer-btn {
    all: unset;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    width: 30px;
    height: 30px;
    padding-top: 1vh;
    margin-left: 11vw;
}

.config-display {
    position: fixed;
    width: clamp(10em, 60%, 45rem);
    height: clamp(25em, 40%, 30rem);
    background-color: white;
    z-index: 1000;
    font-family: "Inter";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 60px;
}

.config-title {
    font-size: clamp(0.2em, 2vw, 3rem);

}
.config-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.hidden {
    display: none;
}
